body {
    font-family: Montserrat;
}

.banner>picture {
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-item a,
h1,
h2,
h3,
h4,
h5,
h6,
footer>div>div>div>p {
    color: black;
    font-weight: bold;
}

.active a,
h6,
#links>ul>li>span {
    color: #0199b0;
}

#servicos h6 {
    color: black;
}

.menu {
    margin-left: 54%;
}

#links>ul>li:nth-child(1) {
    border: none;
}

#links>ul>li>span {
    font-size: 1.5rem;
    font-weight: bold;
}

#links>ul>li {
    font-size: 0.8rem;
}

#links>ul>li:nth-child(4) {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

footer {
    border-top: #0199b0 5px solid;
}

div.col-md-4.redes>ul>li {
    border: none
}

@media (max-width: 1200px) {
    .menu {
        margin-left: 42%;
    }
}

@media (max-width: 768px) {
    .menu {
        margin-left: 0;
    }
}